<h1> Doctors </h1>

<% if @success_message != nil %>

<div class="success"><%= @success_message %></div>

<% end %>

<ul>
  <% @doctors.each() do |doctor| %>
    <li>
      <h2> <%= doctor.name() %></h2>
      <p>
        Specialty: <%= doctor.specialty() %>
      </p>
    </li>
  <% end %>
</ul>

<form action="/doctor/new" method="post">
  <input type="text" name="name" id="name" placeholder="Doctor Name">
  <input type="text" name="specialty" id="specialty" placeholder="Specialty">
  <button type="submit" class="btn-add">Add a Doctor</button>
</form>
